
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @admin.first_name %>, un participant vient de participer à votre event qui est <%= @participant.first_name %>.</p>
  </body>
</html>